# Builds & binaries
build/
bin/
target/
lib/
launcher/
.gradle/
.idea
*.zip

# Misc mod files
media/
libs/

# Tmp files
*~
*#

# IDEs
.classpath
.project
.settings
.pydevproject

# MCP Files
run/
docs/
conf/
eclipse/
jars/
logs/
runtime/
temp/
reobf/
CHANGELOG
LICENSE.txt
*.sh

# Misc
*.rej
*.hprof